.swagger-ui
{
    @import 'mixins';
    @import 'variables';
    @import 'colors';
    @import 'type';
    @import 'layout';
    @import 'buttons';
    @import 'form';
    @import 'modal';
    @import 'models';
    @import 'table';
    @import 'topbar';
    @import 'information';
    @import 'authorize';
    @import 'errors';
    @include text_body();
    @import 'split-pane-mode';
    @import '../../node_modules/highlight.js/styles/zenburn.css';


    li.tabitem a[data-name="example"],
    li.tabitem a[data-name="model"] {
        font-size: 24px;
        text-decoration: underline;
        margin-right:15px;
    }
}
